
html, body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Alternative Gothic";
  src: url(../font/Gothic/Gothic.otf);
}

/*Navigation bar*/
/*
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.navigation-bar {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.5em;
    margin-right: 10px;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
*/

.navigation-container {
    display: inline-flex;
}

.logo {
  margin-left: 10px;
}

.navigation-container li {
list-style: none;
display: inline-block;
justify-content: space-around;
text-align: center;
width: 180px;
margin-top: 45px;
/*margin-left: 30px;*/
font-size: 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

@media (max-width: 1327px) {
  .navigation-container li {
    width: 300px;
  }

}



/*Banner*/

.banner-container {
  background-image: url('images/people.jpg');
  background-position: center;
  width: 100%;
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;


}

/*.banner-container h1 {
    color: white;
    padding: 10px 20px;
    margin-left: 50px;
    font-size: 3em;
}*/

.banner-text {
  color: white;
  padding: 10px 20px;
  margin-left: 50px;
  font-size: 1.5em;
}

@media (max-width: 950px) {
    .banner-text {
    margin-left: 10px;
    padding: 0;
    font-size: 1.25em;
    }
  }

@media (max-width: 900px) {
  .banner-container {
  background-image: url('images/people-small.jpg');
  }

}

@media (max-width: 850px) {
  .banner-text {
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    /*left: 16px;*/
  }

}


/*Degrees */

.degrees-heading{
  text-align: center;
}

.degrees{
  display: flex;
  /*height: 60vh;*/
  /*flex-direction: row;*/
  flex-wrap: wrap;
  background: white;
  justify-content: center;
  align-items: stretch;
  background: white;
  gap: 30px;
}

.box{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  font-size: 1.6em;
  line-height: 1.2em;
  width: 400px;
  height: auto;
  color: black;
  background: #CDCDCD;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.6);
  align-items: center;

}

.box li{
  font-size: 16px;
  font-family: 'Alternative Gothic';
}

@media (max-width: 830px){
  .box{
    width: 80%;
  }

}



/*News*/

.news-container {
  background-color: white;
  }

  .news-container h1 {
    text-align: center;
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
    font-size: 1.5em;
  }

 .news-post {
  background: #6B1D0E;
  color: black;
  box-sizing: border-box;
  width: 400px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-height: 100px;
 }

  .text {
    margin: 20px;
    background-color:rgba(0, 0, 0, 0.7);

  }

  .news p {
    text-align: right;
    font-size: 1.25em;
  }

  .news i {
    float: right;
  }

/*Blog posts*/

.blog-container {
background-color: white;
}

.blog-container h1 {
  text-align: center;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  font-size: 1.5em;
}


.blog-post {
  background: #002855;
  color: black;
  box-sizing: border-box;
  width: 400px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-height: 100px;
}

.text {
  margin: 20px;
  background: rgba(255,255,255,0.6);


}

.text h3 {
  color:#000000;
  font-weight: bold;
}

.blog i {
  float: right;
}

.blog p {
  text-align: right;
  font-size: 1.25em;
}

/*Contact*/

#contact {
  margin-left: 30px;
}

.buttons {
  float: right;
}

.button1 {
  background-color: #6B1D0E;
  border: none;
  color: white !important;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  /*float: right;*/
  margin-right: 20px;
}

.button2 {
  background-color: #6B1D0E;
  border: none;
  color: white !important;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  /*float: right;*/
  margin-right: 20px;
}

.icons-container {
  /*position: absolute;
  right: 25%;*/
  display: inline-flex;
  /*flex-flow: row wrap;*/
}

/*.follow h2 {
  text-align: center;
  justify-content: center;
}*/

.icons {
  padding: 0;
  justify-content: center;
  margin-left: 120px;
}

.icons ul {
padding-left: 0;
}

.icons li {
  list-style: none;
  font-size: 2em;
  /*padding: 15px;*/
  color: black;
  transition: .5s;
  display: inline;
  padding: 15px;
  
  
}

.icons li:hover {
  color: #6B1D0E;
  border: 1px solid #6B1D0E;
  transition: .5s;
}

@media (max-width: 885px) {
  .icons {
    margin: 0;
  }
}

@media (max-width: 764px) {
  .icons li {
    padding: 10px;
  }
}

@media (max-width: 654px) {
  .icons li {
    padding: 7px;
  }
}

@media (max-width: 586px) {
  .icons {
    flex-flow: row wrap; 
    max-width: 550
}

@media (max-width: 550px) {
  .icons {
    flex-flow: row wrap; 
    max-width: 300px;

  }

.icons li {
    padding: 5px;
}
  
  #contact {
    margin-left: 10px;
  }

}

@media (max-width: 550px) {
  #contact h1 {
    margin-top: 15px;
  }

  .button1 {
    float: left;
  }

  .button2 {
    float: left;
  }

  .contact-text {
    float: left;
  }

}
