
html, body {

}

@font-face {
  font-family: "Alternative Gothic";
  src: url(../font/Gothic/Gothic.otf);
}

/*Navigation bar*/
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.navigation-bar {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.5em;
    margin-right: 10px;

}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/*Banner*/

#banner-container {
  background-image: url('images/people.jpg');
  background-position: center;
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;


}

#banner-container h1 {
    color: white;
    padding: 10px 20px;
    margin-left: 50px;
    font-size: 3em;
}

/*Degrees */

.degrees{
  display: flex;
  height: 60vh;
  flex-direction: row;
  flex-wrap: wrap;
  background: #B0B4BB;
  justify-content: space-between;
  align-content: space-around;
}

.box{
  font-size: 1.6em;
  width: 3 00px;
  padding: 10px;
  flex-basis: 25%;
  height: 40%;
  flex-grow: 1;
  line-height: 1.2em;
  height: auto;
  color: black;
}

.box li{
  font-size: 16px;
  font-family: 'Alternative Gothic';
}

.box.businessInnovation{
  background: #B0B4BB;
}

.box.creationSimulation{
  background: #002793;
  color: white;
}

/*Blog posts*/

.blog {
margin: 30px 0;
padding-left: 30px;
padding-bottom: 20px;
background-color: #002793;
text-align: center;
color: white;


}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  font-size: 1.5em;
}

.blog-post1 {
  background-color: #B0B4BB;
  flex-basis: 25%;
}

.blog-post2 {
  background-color: #B0B4BB;
  flex-basis: 25%;
}

.blog-post3 {
  background-color: #B0B4BB;
  flex-basis: 25%;
}

.blog p {
  text-align: right;
  color: white;
  font-size: 1.5em;
  padding-right: 20px;
}

/*Contact*/

#contact {
  margin-left: 30px;
}

.button1 {
  background-color: #6B1D0E;
  border: none;
  color: white !important;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  float: right;
  margin-right: 20px;
}

.button2 {
  background-color: #6B1D0E;
  border: none;
  color: white !important;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  float: right;
  margin-right: 20px;
}

.icons {
  position: absolute;
  right: 20%;
}

.icons h2 {
  text-align: center;
}

.icons li {
  list-style: none;
  display: inline-block;
  font-size: 2em;
  padding: 15px;
  color: black;
  transition: .5s;

}

.icons li:hover {
  color: #6B1D0E;
  border: 1px solid #6B1D0E;
  transition: .5s;
}
